{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheet %}
    
{% endblock %}

{% block body %}
<link rel="stylesheet" href="./assets/css/login.css">
<div class="login-form">
    <div class="container login-container">
    <form method="post">
        <img src="https://www.alaji.fr/wp-content/uploads/logo.png" width="80%" class="mb-5" />
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus placeholder="Adresse mail">
        <input type="password" name="password" id="inputPassword" class="form-control mt-4" required placeholder="Mot de passe">

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
            <div class="checkbox mb-3 mt-3">
                <label>
                    <input type="checkbox" name="_remember_me" class="text-left"><i class="ml-2">Se souvenir de moi</i>
                </label>
            </div>

        <button class="btn btn-lg btn-primary" type="submit">
            Connexion
        </button>
    </form>
    </div>
</div>
{% endblock %}
